body {
  background: pink;
}

.header{
  background-color: rgba(255, 255, 110, .8);
  color: rgba(25, 25, 25, .7);
  width: 425px;
  height: auto;
  padding-left: 10px;
  border-radius: 10px;

}

.header:hover {
outline: dotted red, yellow;
}

.hole {
  width: 50px;
  background: goldenrod;
  border: 2px solid black;
  border-radius: 50px;
  display: inline-block;
  margin-left: 2px;
  margin-top: 2px;
  height: 50px;
}

.board {
  background: rgba(0, 100, 255, .5);
  width: 415px;
  padding: 20px 0 10px 20px;
  border-radius: 10px;

}

.red {
  transition: .25s;
  background: rgba(255, 0, 0, .6);
  background-image: url(http://www.serebii.net/shuffle/pokemon/025.png);
  background-size: contain;
}

.black {
  transition: .25s;
  background: rgba(0, 0, 0, .5);
  background-image: url(http://www.serebii.net/shuffle/pokemon/143.png);
background-size: contain;
  background-repeat: no-repeat;
}

.yellow {
/*[  transition: .5s;
]*/  background: yellow;
}

h2 {
transition-duration: .25s;
text-decoration:underline;}

.open {
  background:rgba(255,255,255,0.85);
}

.titleHeader {
width: 200px;
}

.pokemonHeader {
  padding-left:30px;
  height: 70px;
  width: 140px;
}

.pikachu {
/* border: solid 5px red;
*/}

.snorlax {
/*border: dotted 5px black;
*/}

.active {
  border: 10px dotted red;
  border-radius: 80px;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG);
  background-size: contain;
  background-repeat: no-repeat;
}

button {
margin-top:20px;
display: inline-block;
}
