body {
  background: url("http://www.gamestop.com/gs/images/content-pdp/New_Nintendo_3DS/Nintendo_New3DS_Open_.jpg");
  background-size:cover;
  background-repeat: no-repeat;
/*background:rgba(48,98,48,.5);
*/
}

.topScreen {
  position: relative;
/*padding-top: 60%;
*/}

.bottomScreen {
/*  height:100%;
  width: 100%;*/
}

.header{
/*  background-color: rgba(255, 255, 110, .8);
*/    margin-left: 23%;
    margin-top: 8%;
}

.row{
display: block;
height: auto;
}

.hole {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: goldenrod;
  border: 2px solid black;
  display: inline-block;
/*  margin-left: 2px;
  margin-top: 2px;*/
}

.board {
  padding-left: 10%;
  margin-left: 23%;
  margin-top: -1%;
  width: 43%;
  height: 305px;
/*  background: rgba(20,20,40,1);
*/  background:rgba(48,98,48,1);
}


.red {
  transition: .25s;
  background: rgba(255, 0, 0, .6);
  background-image: url(http://www.serebii.net/shuffle/pokemon/025.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.black {
  transition: .25s;
  background: rgba(0, 0, 0, .5);
  background-image: url(http://www.serebii.net/shuffle/pokemon/143.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.yellow {
[  transition: .5s;
]  background: yellow;
}

h2 {
font-family: 'Press Start 2P', cursive;
transition-duration: .25s;
text-decoration:underline;
display: inline-block;
margin-top: 100px;
margin-left: -50px;

}


.open {
  background:rgba(255,255,255,0.85);
}

.titleHeader {
  height: 25px;
display: inline-block;}

.pokemonHeader {
  display: inline-block;
  background-size:contain;
  height:35px;
/*  padding-left:30px;
  height: 70px;
  width: 140px;*/
}

.pikachu {
  background-repeat: no-repeat;
}

.snorlax {

}

.icons {
margin-left: -50px;
}
.active {
  border: 10px dotted red;
  border-radius: 80px;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG);
  background-size: contain;
  background-repeat: no-repeat;
}

button {
margin-top:20px;
display: block;
}
