body {
background:rgba(48,98,48,.5);
}

.gameboy {
  background: url("http://i.imgur.com/aHnl7CE.png");
  background-size:900px;
  background-repeat: no-repeat;
  padding-left: 220px;
  margin-top: -25px;
}
.header{
/*  background-color: rgba(255, 255, 110, .8);
  color: rgba(25, 25, 25, .7);*/
/*  padding-top: 20px;
*/  width: 425px;
  height: auto;

/*  padding-left: 10px;
*//*  border-radius: 10px;
*/
}


.hole {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  background: goldenrod;
  border: 2px solid black;
  display: inline-block;
/*  margin-left: 2px;
  margin-top: 2px;*/
}

.board {
width: 343px;
/*  padding-top: 80px;
/*  background: rgba(20,20,40,1);
  padding-left: 215px;*/
/*  border-radius: 10px;
*/
/*background:rgba(48,98,48,.5);
*/margin-top: -4px;
margin-left: 61px;}

.red {
  transition: .25s;
  background: rgba(255, 0, 0, .6);
  background-image: url(http://www.serebii.net/shuffle/pokemon/025.png);
  background-size: contain;
}

.black {
  transition: .25s;
  background: rgba(0, 0, 0, .5);
  background-image: url(http://www.serebii.net/shuffle/pokemon/143.png);
background-size: contain;
  background-repeat: no-repeat;
}

.yellow {
/*[  transition: .5s;
]*/  background: yellow;
}

h2 {
font-family: 'Press Start 2P', cursive;
transition-duration: .25s;
text-decoration:underline;
display: inline-block;
margin-top: 100px;
margin-left: -50px;

}


.open {
  background:rgba(255,255,255,0.85);
}

.titleHeader {
width: 200px;
}

.pokemonHeader {
  padding-left:30px;
  height: 70px;
  width: 140px;
}

.pikachu {
  overflow: auto;
/* border: solid 5px red;
*/}

.snorlax {
  overflow: auto;

/*border: dotted 5px black;
*/}

.icons {
margin-left: -50px;
}
.active {
  border: 10px dotted red;
  border-radius: 80px;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG);
  background-size: contain;
  background-repeat: no-repeat;
}

button {
margin-top:20px;
display: block;
}
